.burger {
    width:500px;
    height: 400px;
    z-index: 300;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 25px 10px 15px;
}

@media (max-width: 550px) {
    .burger {
        width: 100%;
        height: 380px;
    }
}