.burger {
    width:500px;
    height: 500px;
    z-index: 300;
    margin: 0 auto;
    background: dimgray;
    overflow-y: scroll;
}

@media (max-width: 550px) {
    .burger {
        width: 100%;
        height: 380px;
    }
}