.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: goldenrod;
    z-index: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
}
nav ul li { 
    list-style-type: none;
    padding: 0 15px;
}