.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #2f3340;
    color: #fff;
    z-index: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.44);
}
nav ul {
    display: flex;
}
nav ul li { 
    list-style-type: none;
    padding: 0 15px;
}
.btn-navbar {
    margin-left: 20px;
    margin-top: 15px;
}
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 2px;
    background: white;
}